set -euo pipefail
source .direnvrc

use_nix -s shell.nix

export PROJECT_DIR=`pwd`

dev_help() {
  echo
  echo -e '\e[33;1mCargo2nix DevShell Manual\e[m'
  echo -e '\e[36;1mdev_help\e[m: show this manual'
  echo
}
export_function dev_help

dev_help
